VRArcadeSource/BarcodeLCDDashboardMono/BarcodeLCDDashboardMono/Web References/VRArcadeServer/DashboardService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DashboardService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:20017/VRArcadeDashboardService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:20017/VRArcadeDashboardService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:20017/VRArcadeDashboardService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VRArcadeServer" />
      <xsd:import schemaLocation="http://localhost:20017/VRArcadeDashboardService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/VRGameSelectorServerDTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDashboardService_PopulateContent_InputMessage">
    <wsdl:part name="parameters" element="tns:PopulateContent" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_PopulateContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:PopulateContentResponse" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_BarcodeInput_InputMessage">
    <wsdl:part name="parameters" element="tns:BarcodeInput" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_BarcodeInput_OutputMessage">
    <wsdl:part name="parameters" element="tns:BarcodeInputResponse" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_MarkCleanProvided_InputMessage">
    <wsdl:part name="parameters" element="tns:MarkCleanProvided" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_MarkCleanProvided_OutputMessage">
    <wsdl:part name="parameters" element="tns:MarkCleanProvidedResponse" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_MarkHelpProvided_InputMessage">
    <wsdl:part name="parameters" element="tns:MarkHelpProvided" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_MarkHelpProvided_OutputMessage">
    <wsdl:part name="parameters" element="tns:MarkHelpProvidedResponse" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_PrintBarcodeWithBookingReference_InputMessage">
    <wsdl:part name="parameters" element="tns:PrintBarcodeWithBookingReference" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_PrintBarcodeWithBookingReference_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrintBarcodeWithBookingReferenceResponse" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_BarcodeDonePrinting_InputMessage">
    <wsdl:part name="parameters" element="tns:BarcodeDonePrinting" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_BarcodeDonePrinting_OutputMessage">
    <wsdl:part name="parameters" element="tns:BarcodeDonePrintingResponse" />
  </wsdl:message>
  <wsdl:portType name="IDashboardService">
    <wsdl:operation name="PopulateContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IDashboardService/PopulateContent" message="tns:IDashboardService_PopulateContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardService/PopulateContentResponse" message="tns:IDashboardService_PopulateContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BarcodeInput">
      <wsdl:input wsaw:Action="http://tempuri.org/IDashboardService/BarcodeInput" message="tns:IDashboardService_BarcodeInput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardService/BarcodeInputResponse" message="tns:IDashboardService_BarcodeInput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MarkCleanProvided">
      <wsdl:input wsaw:Action="http://tempuri.org/IDashboardService/MarkCleanProvided" message="tns:IDashboardService_MarkCleanProvided_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardService/MarkCleanProvidedResponse" message="tns:IDashboardService_MarkCleanProvided_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MarkHelpProvided">
      <wsdl:input wsaw:Action="http://tempuri.org/IDashboardService/MarkHelpProvided" message="tns:IDashboardService_MarkHelpProvided_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardService/MarkHelpProvidedResponse" message="tns:IDashboardService_MarkHelpProvided_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrintBarcodeWithBookingReference">
      <wsdl:input wsaw:Action="http://tempuri.org/IDashboardService/PrintBarcodeWithBookingReference" message="tns:IDashboardService_PrintBarcodeWithBookingReference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardService/PrintBarcodeWithBookingReferenceResponse" message="tns:IDashboardService_PrintBarcodeWithBookingReference_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BarcodeDonePrinting">
      <wsdl:input wsaw:Action="http://tempuri.org/IDashboardService/BarcodeDonePrinting" message="tns:IDashboardService_BarcodeDonePrinting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardService/BarcodeDonePrintingResponse" message="tns:IDashboardService_BarcodeDonePrinting_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDashboardService" type="tns:IDashboardService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PopulateContent">
      <soap:operation soapAction="http://tempuri.org/IDashboardService/PopulateContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BarcodeInput">
      <soap:operation soapAction="http://tempuri.org/IDashboardService/BarcodeInput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkCleanProvided">
      <soap:operation soapAction="http://tempuri.org/IDashboardService/MarkCleanProvided" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkHelpProvided">
      <soap:operation soapAction="http://tempuri.org/IDashboardService/MarkHelpProvided" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintBarcodeWithBookingReference">
      <soap:operation soapAction="http://tempuri.org/IDashboardService/PrintBarcodeWithBookingReference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BarcodeDonePrinting">
      <soap:operation soapAction="http://tempuri.org/IDashboardService/BarcodeDonePrinting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DashboardService">
    <wsdl:port name="BasicHttpBinding_IDashboardService" binding="tns:BasicHttpBinding_IDashboardService">
      <soap:address location="http://localhost:20017/VRArcadeDashboardService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>