VRArcadeSource/ManagingSystem/BarcodePrintHelper/Web References/VRArcadeServer/item0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:20017/VRArcadeDashboardService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VRArcadeServer" />
  <xs:element name="PopulateContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PopulateContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VRArcadeServer" minOccurs="0" name="PopulateContentResult" nillable="true" type="q1:DashboardModuleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BarcodeInput">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Barcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BarcodeInputResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkCleanProvided">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkCleanProvidedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkHelpProvided">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkHelpProvidedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintBarcodeWithBookingReference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookingRef" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="waiverID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintBarcodeWithBookingReferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrintBarcodeWithBookingReferenceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BarcodeDonePrinting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="waiverID" type="xs:int" />
        <xs:element minOccurs="0" name="bookingRef" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isSuccess" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BarcodeDonePrintingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>